body {
        max-width: 90%;
        margin: 0 auto;
        font-size: 18px;
        font-family: Arial, sans-serif;
        line-height: 1.5em;
        color: #5c5c5c;
        background: -webkit-linear-gradient(90deg, rgb(217, 226, 230), rgb(130, 139, 152));
        background: linear-gradient(90deg, rgb(217, 226, 230), rgb(130, 139, 152));
        background-image: url("images/2bc84295b79877cd46ac85682fd7062a.jpg");
        background-position: right bottom; 
        background-repeat: no-repeat; 
        background-size: cover; 
}  
    header h2{
        background-color: #ffff99;
}
/*-------------ne fonctionne pas-----------------*/
p:first-child{
        font-weight: bold;
        background-color: red;
        color: red;
}
/*------------------------------------------------*/
    body a {
        color: red;
}
    body a:hover {
        text-decoration: none;
}
    body a:visited {
        color: purple;
}
    .elem-1{
        background: url("images/bien.png")no-repeat right center;
        padding-right: 20px;
        width: 400px;
        height: 50px;
}
    .elem-2{
        background: url("images/mal.png")no-repeat right center;
        padding-right: 20px;
        width: 400px;
        height: 50px;
}
    .elem-3{
        background: url("images/chat.png")no-repeat right center;
        padding-right: 20px;
        width: 400px;
        height: 50px;
}
    .image-1{
        width: 400px;
        height: 250px;
        float: right;
        margin-left: 30px;
}
    .image-2{
        width: 400px;
        height: 250px;
        float: left;
        margin-right: 30px;
        display: block;
}
   .image-3{
        width: 380px;
        height: 220px;
        float: right;
        margin: -50px 320px 0 30px;
}


    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
}
    #tableau tr:nth-child(even) {
        background: #CCC;
}
    #tableau tr:nth-child(odd) {
        background: #FFF;
}
    .bien {
        font-weight: bold;
        text-transform: uppercase;
        color: green;
}
    .mal {
        font-weight: bold;
        text-transform: uppercase;
        color: red;
}
    p q {
        display: block;
        width: 45%;
        margin: auto;
        font-size: 160%;
        background-color: #e6e6e6;
        border-left: 3px solid #b3b3b3;
        padding: 80px 0 80px 30px;
        font-style: italic;
        margin-top: 100px;
}
    .cit-fermier{
        border-left: 3px solid #ff6600;
}
    .cit-villa{
        border-left: 3px solid #3366ff;
}

