body {
background: -webkit-white;
background: white;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 40px;
    text-align: center;
}
li {
    display: inline;  
}
.main-menu ul a{
    float: left;
    text-decoration: none;
    font-size: 1em;
    padding-right: 25px;
    line-height: 30px;
}
.logo{
    font-size: 1.6em; 
}
.logo a{
    padding-left: 50px;
    color:black;
}
.features a, .pricing a, .help a, .blog a, .resources a{
    color: black;
}
.help, .blog, .resources, .btn-1, .btn-2 {
    display: inline;
    margin-right: 20px;
}
.help a{
    margin-left: 500px;
}
.more a{
    color: #7E8798;
}
h1{
    color: black;
    position: relative;
    font-size: 2.5em;
    top: 60px;
    text-align: center;
    font-weight: lighter;
}
.btn-1{
    width: 100px;
    height: 35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3F9BF8;
    font-size: 1em;
    color: white;
    border: 1px solid black;
    margin:0 auto;
    display:inline;
    margin-left: 1300px;
    cursor: pointer;
}
.btn-2{
    width: 100px;
    height: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    font-size: 1em;
    color: black;
    border: 1px solid black;
    margin:0 auto;
    display:inline;
    margin-left: -10px;
    cursor: pointer;
}
.posts {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 420px 340px 340px 420px;
    background-color: #3F4655;
    grid-template-rows: 350px;
}
h2{
    color: white;
    margin-right: -30px;
}
.posts article {
    border: 1px solid black;
    padding: 180px 30px 0 0;
    color: #B2B5BB;
    text-align: center;
}
h3{
    margin: auto;
    width: 700px;
    position: relative;
    top: 100px;
    color: black;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    margin-top: 50px;
}
.btn-3{
    width: 300px;
    height: 50px;
    background-color: #3093F7;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 1.5em;
    position: relative;
    margin-left: 40%;
    top: 140px;
}
.credit-p{
    font-size: 0.8em;
    position: relative;
    top: 150px;
    text-align: center;
}
.active-img{
    display: block;
    margin: auto;
    margin-top: 220px;
}
.h3-cloud{
    font-size: 1.8em;
    margin-top: -50px;
    
}
.p-cloud{
    width: 700px;
    margin: auto;
    font-size: 1.2em;
    position: relative;
    top: 120px;
    text-align: center;
    
}
.column-1, column-2 {
  float: left;
  width: 50%;
  height: 500px;

}
h4{
    font-size: 1.7em;
    font-weight: lighter;
}
.btn-4{
    width: 180px;
    height: 40px;
    background-color: #3F9BF8;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}
.btn-5{
    width: 180px;
    height: 40px;
    background-color: #3F9BF8;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
}
.plans {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    grid-template-rows: 550px; 
    padding: 50px;
}
.plans .art-1, .art-2 {
    padding: 0 30px 0 0;
    color: black;
    text-align: center;
}
.column-1{
    float: right;
}
.column-2{
    float: left;
    padding-left: 50px;
}
.price{
    font-style: italic;
    line-height: 2em;
}
.vl {
  border-left: 2px solid #D9D9D9;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
.partners{
    width: 100%;
    height: 400px;
    background-color: #E9EDF2;
    position: relative;
    margin-top: -10px;
}
h5{
    font-size: 2em;
    margin: auto;
    position: relative;
    top: 50px;
    color: black;
    font-weight: lighter;
    text-align: center;
}
.p-partners{
    width: 700px;
    margin: auto;
    font-size: 1.2em;
    position: relative;
    top: 70px;
    text-align: center;
}
.partners img{
    padding: 20px;
}
.partners-image{
    text-align: center;
    position: relative;
    top: 100px;
}
.form-p{
    width: 500px;
    margin: auto;
    font-size: 1.2em;
    position: relative;
    top: 70px;
    text-align: center;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
input[type=submit] {
  width: 50%;
  height: 10px;
  background-color: #3F9BF8;
  color: white;
  padding: 10px 20px 25px 10px;
  margin-left: 100px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}
.form {
  width: 400px;
  height: 370px;
  border-radius: 5px;
  background-color: #E9EDF2;
  padding: 20px;
  border: 1px solid black;
  margin: 100px 0 0 540px;
}
.name{
  font-weight: bold;
}
.email{
    margin-top: 15px;
    font-weight: bold;
}
.password{
    margin-top: 15px;
    font-weight: bold;
}
.form p{
    text-align: center; 
}
.data{
    text-align: center;
    color: #727C8E;
    font-size: 14px;
}
.link-security{
    display:block;
    text-align: center;
    color: #727C8E;
    font-size: 14px;
    margin-top: -10px;
}
.bottom-menu{
    width: 100%;
    height: 500px;
    background-color: #3F4655;
}
.bottom-menu  .1st-menu {
     list-style:none;
}
.bottom-menu ul li {
    float:left; 
    font-weight:bold;
    color: #9EA2A9;
    display: block;
}
.bottom-menu ul li ul {
    padding:0;
}
.bottom-menu ul li ul li {
    float:none; 
    padding:5px 0; 
    font-weight:normal;
    color: #FFFFFF;
}
li .product{
    width: 150px;
}
.alternative{
    width: 380px;
}
.solution{
    width: 300px;
}
.teams{
    width: 180px;
}
.company{
    width: 150px;
}
.resources{
    width: 160px;
    margin-right: 100px;
}